@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --adminMenuBackground: #0a0a0a;
  --adminSubMenuBackground: #141414;
  --adminMainBackground: #1f1f1f;
  --themePrimaryColour: #ff1818;
  --adminTextColour: #fff;

  --webHeaderBackgroundColour: #fff;
  --webHeaderTextColour: #6b7280;
  --webPrimaryTextColour: #15141A;
  --webSecondaryTextColour: #6b7280;
  --webPrimaryLightTextColour: #fff;
  --webSecondaryLightTextColour: #93a3af;

  --webPrimaryBackgroundColour: #f2f2f2;
  --webPrimaryTabBackgroundColour: #fff;
  //--webLightColour: #ff1818;
  --webLightHoverColour: #818cf8;
  --webThirdLightTextColour: #4f46e5;
  --breadcrumbsColour: #4b5563;

  --tw-shadow-color: #6b7280;
  --baseDark: #000000;
}


.form-group:has(input:required) label::after {
  content: "*";
  color: red;
}

[x-cloak] {
  display: none;
}

